.clr {	clear: both;}
.mt-9 {margin-top: -9px;}
.mt-0 { margin-top:0; }
.ml-0 { margin-left: 0 !important;}
.pl-0 { padding-left: 0 !important;}
.pr-0 { padding-right: 0 !important;}
.mt-10 { margin-top: 10px !important;}
.mt-7 { margin-top: 7px !important;}
.mb-0 {margin-bottom: 0 !important;}
.mb-10 {margin-bottom: 10px !important;}
.p-20 {padding: 20px;}
.mr-10 {margin-right: 10px !important;}
.mr-5 {margin-right: 5px !important;}
.mr-33 {margin-right: 33px !important;}
.ml-pl {margin-left: 0 !important;padding-left: 0 !important;}
.mrgn {margin-left: -6px; padding-left: 0;}
.ml-10 {margin-left: 10px !important;}
.ml-5 {margin-left: 5px !important;}
.pl-20 {padding-left: 20px !important;}
.p0 {padding: 0 !important;}
.cursor{cursor: pointer;}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;

}

body {
	background-color: #3498DB;
	min-height: 500px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .sec1 {
        margin: 20px 0;
        border: none !important;
        border-bottom: 1px solid #39B66E !important;
    }

    .sec1:last-child {
        margin: 20px 0;
        border: none !important;
    }

    .navbar-nav > li a{
        border: none !important;
    }

    .left_container h2 {
      margin-top: 18px !important;
      font-size: 38px !important;
    }
    .right_container h6 {
        font-size: 17px !important;
        margin-bottom: 14px !important;
    }
}

@media only screen   and (min-device-width: 768px)   and (max-device-width: 1024px)   and (-webkit-min-device-pixel-ratio: 1) {
    .tile h3 {
        font-size: 18px !important;
    }

    .left_container h2 {
        margin-top: 14px !important;
        font-size: 37px !important;
    }
}

.nav_upper {
	width: 100%;
	background-color: #fff;
  border-bottom: 1px solid #0C6099;

	.navbar-default {
		background-color: #fff !important;
		border-radius: 0;
		border: none;
		margin-bottom: 10px;
		margin-top: 15px;
	}
	.navbar-brand {
		padding: 10px 0;
	}
}


.left_container {
	color: #fff;
	margin-top: 32px;

	h4 {
		font-size: 25px;
  		font-weight: 200;
	}
   
    h2 {
        margin-top: 6px;
    }

    h3 {
        margin-bottom: 6px;
        font-size: 32px;
        margin-bottom: -8px;
    }

	p {
		line-height: 24px;
		font-weight: 200;
		color: #fff;
	}
	.lead {
		font-size: 20px;
        margin-bottom: 20px;
	}
}

.right_container {
	background-color: #fff;
	padding: 20px;
	margin: 70px 0;
    border-radius: 6px;

	button {
		width: 100%;
		height: 46px;
		margin-top: 20px;
	}

	.input_bg {
		background-color:#e6eaeb;
	}
    p {
        font-size: 14px;
        line-height: 18px;
    }

    h6 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 5px;
    }
}


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.login-form {
  background-color: #DFDFDF;
  padding-top: 20px;
  border-radius: 0;
}
.login-link {
  color: #808080;
}

.navbar-nav li a {
  border-right: 1px solid #CCC;
  padding: 5px 20px;
  margin-top: 10px;
} 
.bdr_none {
  border: none !important;
}

.navbar-default .navbar-nav>li>a {
  color: #3498DB;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #2ECC71;
}

.btn-primary {
  background-color: #2ECC71;
}

.btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #21A95B !important;
}

.sections_x {
    h3 {
        color: #4C4C4C;
    }
    p {
        color: #595959;
        margin: 10px 0;   
    }
}

.item-list .visual{
    float:left;
    width:148px;
}
.item-list .visual img{float:left;}
.item-list .frame{overflow:hidden;}
.item-list h3{
    font-size:22px;
    line-height:39px;
    font-weight:bold;
    color:rgb(38, 57, 80);
    margin:0 0 2px;
    opacity:0.85;
}
.item-list .frame p {color:rgba(44, 62, 80,0.9);}
.base-section{
    width:100%;
    overflow:hidden;
    background-color: #6f5499;
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    color:#fff;
}


/** loan slier **/




.range {
    display: table;
    position: relative;
    height: 40px;
    margin-bottom: 28px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 22px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: #2ECC71;
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: #2ECC71;
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: #2ECC71;
}
.range.range-success output {
    background-color: #2ECC71;
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}

.loanform {
    margin-bottom: 50px;

    h6 {
        margin: 0;
        padding-bottom: 5px;
    }

    input[type="text"], select {
        background-color: #fff !important;
        color: #000;
        padding-left: 10px;
    }
}

.housetype {
    color: #fff;
    padding: 0;
}

.radio input[type=radio].custom-radio:checked+.icons .icon-checked {
  color: #2ECC71 !important;
}

.loanform {
    .navbar-inverse {
      background-color: #2ECC71;
    }

    h5 {
        color: #fff;
    }

    ul {
        padding-left: 20px;
    }

    li {
        color: #fff;
    }

    select {
        height: 42px !important;
    }

    .greenstrip {
        min-height: 55px;
        background-color: #2ECC71;
        color: #FFF;
        font-size: 18px;
        margin-bottom: 20px;

        
        .sec1 {
            padding: 20px 0;
            border-right: 1px solid #39B66E;
        }

        .sec1:last-child {
            padding: 20px 0;
            border-right:none
        }

        li {
            color: #fff !important;
        }
    }

    .redstrip {
        min-height: 55px;
        background-color: #FF000A;
        color: #FFF;
        font-size: 18px;
        margin-bottom: 20px;

        
        .sec1 {
            padding: 20px 0;
            border-right: 1px solid #39B66E;
        }

        .sec1:last-child {
            padding: 20px 0;
            border-right:none
        }

        li {
            color: #fff !important;
        }
    }
}

.loanform_outer {
    margin: 0;
}

legend {
    color: #fff;
}

.help-inline-error {
  font-size: 14px;
  color: #fff;
  background-color: #F00;
  padding: 2px;
  border-radius: 4px;
}


.thanks_msg {
  color: #fff;
  text-align: center;
}

.login-form {
  .fa-phone {
    margin-top: 10px;
    font-size: 20px;
  }
}

.navbar-nav>li {
  transform: skew(-12deg) rotate(0deg);
  -webkit-transform: skew(-12deg) rotate(0deg);
  -moz-transform: skew(-12deg) rotate(0deg);
}

.tile-image.big-illustration {
    margin: 10px 0;
}
.tile {
    background-color: #fff;
}

.login-form .login-field {
  font-size: 17px;
  text-indent: 3px;
  border-color: rgba(0, 0, 0, 0);
  background-color: #FFF;
  border: 1px solid #CCC;
  color: #000;
}
.tile {
    h3 {
        font-size: 20px;
    }
}

.loader {
    text-align: center;
    background-color: #458DDE;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 100%;
    opacity: 0.9;

    img {
        position: fixed;
        left: 50%;
        margin-left: -412px;
        top: 50%;
        margin-top: -300px;
    }

    h3, h2 {
        color: #FFF;
        z-index: 10000;
        position: relative;
        /*bottom: 100px;
        left: 50%;
        margin-left: -163px;*/
    }
}


select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
 
select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
 
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}
.chosen-container-single .chosen-single div b {

}
