<style>
    ul#stepForm, ul#stepForm li {
        margin: 0;
        padding: 0;
    }
    ul#stepForm li {
        list-style: none outside none;
    } 
    label{margin-top: 10px;}
    .help-inline-error{background-color:red;}
</style>
<div class="container mainbody">
    <div class="clearfix"></div>
    <div class="container" style="padding-left: 0px; padding-right: 15px;">
        <div class=" panel-primary">
            <div class="panel-body">
                <form name="basicform" id="basicform">
                    <div id="sf3" class="frm">
                        <fieldset>
                            <legend>Step 5 of 5</legend>

                            <div class="col-md-3 col-sm-3 col-xs-0"></div>

                            <div class="col-md-6 col-sm-6 col-xs-12 loanform">
                                <div class="row greenstrip">
                                    <div class="col-xs-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12 text-center sec1">Approved</div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 text-center sec1"><span class="rateOfInterest"></span>%</div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 text-center sec1">Interest rate</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h5>Link your bank A/c</h5>
                                    <ul>
                                        <li class="cursor">FB Profile</li>
                                        <li class="cursor">Linkedin</li>
                                        <li class="cursor">Twitter</li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-0"></div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
       $('.modal-backdrop').removeClass('in');
       $('.modal-backdrop').addClass('out');
       $('.modal-backdrop').addClass('hide');
    });
</script>